@import "src/styles/colors";

.media-container {
  border-radius: 16px;
  border: 4px dashed $white;
  width: 100%;
  height: 250px;
  display: block;
  position: relative;
  color: $grey6;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .mask-icon {
    width: 64px;
    height: 64px;
    background: $white;
  }

  .media-input {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    display: block;
  }
}
