@import 'src/styles/colors';

.nc-preview-search {
    .preview-list {
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 2;
        max-height: 150px;

        .preview-item {
            padding-left: 8px;
            background: $grey2;
            color: $white;

            &:hover {
                background: $grey3;
            }

            &:active {
                color: $primary-color;
            }

            &.selected {
                background: $grey4;
            }
        }
    }
}
