@import '../../styles/colors';

.display-selector {
    display: flex;
    gap: 16px;
    flex-flow: row nowrap;

    .selector-active {
        background-color: $grey2;
        border-radius: 0.5rem;
    }
}
