{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react/jsx-pascal-case": "off"
  }
}
