{
    "env": {
        "browser": true,
        "es2015": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "array-bracket-spacing": [ "warn", "always", { "singleValue": false, "objectsInArrays": false, "arraysInArrays": false }],
        "arrow-spacing": [ "warn", { "before": true, "after": true }],
        "brace-style": [ "warn", "1tbs", { "allowSingleLine": true }],
        "comma-spacing": [ "warn", { "before": false, "after": true }],
        "curly": [ "warn" ],
        "eol-last": [ "warn", "always"],
        "eqeqeq": [ "warn", "always" ],
        "func-call-spacing": [ "warn", "never" ],
        "func-style": [ "warn", "declaration", { "allowArrowFunctions": true }],
        "indent": [ "warn", 4, { "SwitchCase": 1 }],
        "key-spacing": [ "warn", { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": [ "warn", { "before": true, "after": true }],
        "linebreak-style": [ "warn", "unix" ],
        "max-depth": [ "warn", { "max": 4 }],
        "no-confusing-arrow": [ "warn", { "allowParens": true }],
        "no-console": [ "warn", { "allow": ["log", "warn", "error"]}],
        "no-const-assign": [ "warn" ],
        "no-empty": [ "warn", { "allowEmptyCatch": true }],
        "no-empty-function": [ "warn", { "allow": [ "functions", "arrowFunctions", "methods" ]}],
        "no-extra-semi": [ "warn" ],
        "no-floating-decimal": [ "warn" ],
        "no-implicit-coercion": [ "warn", { "boolean": false }],
        "no-lone-blocks": [ "warn" ],
        "no-multi-assign": [ "warn" ],
        "no-multi-spaces": [ "warn", { "ignoreEOLComments": false }],
        "no-multiple-empty-lines": [ "warn", { "max": 1 }],
        "no-param-reassign": [ "warn" ],
        "no-redeclare": [ "warn" ],
        "no-trailing-spaces": [ "warn", { "skipBlankLines": false, "ignoreComments": true }],
        "no-unreachable": [ "warn" ],
        "no-var": [ "warn" ],
        "object-curly-spacing": [ "warn", "always" ],
        "padded-blocks": [ "warn", "never" ],
        "prefer-const": [ "warn", { "destructuring": "any", "ignoreReadBeforeAssign": true }],
        "quotes": [ "warn", "single" ],
        "semi": [ "warn", "always" ],
        "yoda": [ "warn", "never" ],
        "react/prop-types": [ "warn" ],
        "@typescript-eslint/no-inferrable-types": [ "off" ]
    }
}