@import "../../styles/colors";

.user-avatar {
  user-select: none;
  position: relative;
  border-radius: 100%;
  flex-shrink: 0;
  overflow: hidden;

  &.default {
    box-shadow: 0 0 1px 2px $primary-color;
  }

  &.center {
    left: 38%;
  }

  &.premium {
    box-shadow: none;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
  }
}
