@import '../../styles/colors';

.user-avatar {
    border-radius: 50%;

    &.default {
        img {
            background-color: $primary-color;
        }
    }

    &.premium {
        img {
            background: linear-gradient(
                180deg,
                #ffb35a,
                #ffca8c 38.01%,
                #ff8a00
            );
        }
    }

    img {
        left: 0;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        border-radius: 50%;
        object-fit: cover;
        padding: 1px;
        border-radius: 50%;

        &.small-border {
            margin: 1px;
            height: calc(100% - 2px);
            width: calc(100% - 2px);
        }
    }
}
