@import "../../styles/colors";

.user-avatar {
  user-select: none;
  position: relative;
  border-radius: 100%;
  flex-shrink: 0;
  overflow: hidden;

  &.default {
    box-shadow: 0 0 1px 2px $primary-color;
  }

  &.premium {
    box-shadow: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("../../styles/svg/ProfileFrame.svg") no-repeat center;
    }
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
  }
}
