@import "src/styles/colors";

.nc-chip {
    border-radius: 16px;
    background: $grey4;
    color: $white;
    padding: 2px 8px;
    padding-right: 0px;
    width: fit-content;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid transparent;
    font-size: 14px;

    &:not(.deletion) {
        &:after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 8px;
            background: $grey5;
        }
    }

    .icon-close {
        background: $white;
        margin: 6px;
        margin-left: 10px;
    }

    &.active {
        background: $grey2;
        border-color: $primary-color;

        &:after {
            background: $primary-color;
            box-shadow: 0px 0px 4px $primary-color;
        }
    }

    &:hover {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    }
}