@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins';

.tabs {
    width: 100%;

    .tabs-header {
        display: flex;

        .pagination-button {
            min-width: 12px;
            height: 12px;
            background: $grey6;

            &:not(.disabled) {
                cursor: pointer;
            }

            &.disabled {
                opacity: 0.3;
            }

            &.right {
                transform: rotate(180deg);
            }
        }

        .scrollable-container {
            width: 100%;
            overflow-x: scroll;
            scroll-behavior: smooth;

            .scrollable-items {
                width: fit-content;

                .tab-container {
                    min-width: 105px;
                    height: 40px;
                    cursor: pointer;
                    color: $primary-color;
                    border-color: $primary-color;

                    a {
                        color: inherit;
                        border-color: inherit;

                        &:hover {
                            color: inherit;
                            text-decoration: none;
                        }
                    }

                    .tab-name {
                        width: fit-content;
                        color: $grey6;
                        font-weight: bold;
                        font-size: $medium-text;
                        letter-spacing: 0.06em;
                        line-height: 100%;
                        padding: 0px 4px 8px 4px;
                    }

                    &:hover,
                    &.active {
                        .tab-name {
                            color: inherit;
                        }
                    }

                    &.active {
                        .tab-name {
                            border-bottom: 2px solid transparent;
                            border-color: inherit;
                        }
                    }

                    &.disabled {
                        cursor: default;

                        .tab-name {
                            color: $grey5 !important;
                        }
                    }
                }

                .sub-tabs {
                    top: 49px;
                    flex-direction: column;
                    display: flex;

                    .sub-tab {
                        min-width: 181px;
                        min-height: 36px;
                        color: $grey6;
                        background-color: $grey2;
                        padding: 8px;
                        border-bottom: 1px solid $grey4;

                        &:hover {
                            color: $primary-color;
                            background-color: $grey3;
                            cursor: pointer;
                        }
                    }

                    .disabled {
                        color: $grey4 !important;

                        &:hover {
                            background-color: $grey2;
                            cursor: default;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                display: none;
                scrollbar-width: none;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }

            scrollbar-width: none; // for firefox
        }
    }

    .tabs-body {
        width: 100%;
        position: relative;
    }

    @include breakpoint(mobile) {
        .pagination-button {
            display: none;
        }

        .tab-container {
            min-width: 78px;
            .tab-name {
                font-size: 14px;
            }
        }
    }
}
