@import '../../styles/variables';
@import '../../styles/colors';

.nc-user-card {
    width: 223px;
    height: 56px;
    overflow: hidden;
    background: linear-gradient(360deg, $grey3 0%, #474e49 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 8px;

    .icon-close {
        position: absolute;
        right: 8px;
        top: 8px;
        background: $grey5;

        &:hover {
            background: $red;
        }
    }

    .background-image,
    .background-texture {
        left: 0;
        right: 0;
        background-position: center;
        background-size: contain;
    }

    .background-image {
        filter: blur(16px);
        mix-blend-mode: overlay;
        box-shadow: inset 0px -16px 0px #ffffff;
    }

    .background-texture {
        mix-blend-mode: overlay;
        opacity: 0.2;
    }

    &.premium {
        border: 1px solid #c9ad05;
    }

    &.nc-user-card-xs {
        width: 142px;
        height: 26px;

        .icon-premium {
            &.fixed-premium {
                bottom: 5px;
                left: 5px;
                min-width: 14px;
                min-height: 14px;
            }
        }
    }

    &.full {
        height: 112px;

        &.nc-user-card-xs {
            height: 71px;
        }
    }

    &.user-card-selected {
        border: 2px solid $white;

        &:hover {
            border: 2px solid $white;
        }
    }

    &.disabled {
        opacity: 0.2;
        .background-image {
            img {
                display: none;
            }
        }
    }

    &:not(.disabled):hover {
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: inset 0px -24px 27px -19px rgba(255, 255, 255, 0.4);
        transition: box-shadow 2s;

        &.premium {
            border: 1px solid #c9ad05;
        }
    }

    .icon-premium {
        background: $premium-gradient;
        min-width: 14px;
        min-height: 14px;

        &.fixed-premium {
            bottom: 5px;
            left: 5px;
            min-width: 21px;
            min-height: 21px;
        }
    }

    .details {
        overflow: hidden;
        z-index: 0;

        .name {
            font-size: $medium-text;
            line-height: 24px;
            font-weight: 400;
            color: $white;
        }

        .code {
            font-size: $small-text;
            line-height: 14px;
            font-weight: 700;
            color: $grey5;
        }

        .account {
            font-size: $small-text;
            line-height: 20px;
            font-weight: 400;
            color: $white;
        }

        &.details-xs {
            .name {
                font-size: 12px;
                line-height: 15px;
            }

            .code {
                font-size: 11px;
                line-height: 11px;
            }

            .account {
                font-size: 11px;
                line-height: 14px;
            }

            .icon-premium {
                background: $premium-gradient;
                min-width: 14px;
                min-height: 14px;
            }
        }
    }

    .select {
        .MuiSelect-selectMenu {
            padding: 0 !important;
            padding-right: 6px !important;
        }

        .MuiSelect-icon {
            color: $grey6;
        }

        &::before,
        &::after {
            display: none;
        }

        &.Mui-disabled {
            .MuiSelect-icon {
                display: none;
            }

            .MuiSelect-selectMenu {
                padding: 0 !important;
            }
        }

        &:hover:not(.Mui-disabled) {
            filter: brightness(2);
        }
    }

    .permission-container {
        font-size: $small-text;
        color: $grey6;
        line-height: $small-text;
    }
}
