@import '../../styles/variables';
@import '../../styles/colors';

.nc-user-card {
    width: 223px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    border-radius: 8px;
    overflow: hidden;

    &.premium {
        border: 1px solid #c9ad05;
    }

    &.nc-user-card-xs {
        width: 142px;
        height: 26px;

        .icon-premium {
            &.fixed-premium {
                bottom: 5px;
                left: 5px;
                min-width: 14px;
                min-height: 14px;
            }
        }
    }

    &.full {
        height: 112px;

        &.nc-user-card-xs {
            height: 71px;
        }
    }

    .background-image {
        filter: blur(4px);
    }

    .background-gradient {
        background: linear-gradient(rgba(26, 26, 26, 0.4), rgba(41, 45, 48, 1));
    }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.5);

        &.premium {
            border: 1px solid #c9ad05;
        }

        .background-gradient {
            background: linear-gradient(
                360deg,
                rgba(97, 87, 87, 0.89) 0%,
                rgba(4, 0, 0, 0.57) 100%,
                rgba(12, 12, 12, 0.73) 100%,
                rgba(92, 87, 87, 0.73) 100%
            );
        }
    }

    .background-gradient,
    .background-image {
        top: 0;
        left: 0;
        z-index: -1;
    }

    .icon-premium {
        background: $premium-gradient;
        min-width: 14px;
        min-height: 14px;

        &.fixed-premium {
            bottom: 5px;
            left: 5px;
            min-width: 21px;
            min-height: 21px;
        }
    }

    .details {
        overflow: hidden;

        .name {
            font-size: $medium-text;
            line-height: 24px;
            font-weight: 400;
            color: $white;
        }

        .code {
            font-size: $small-text;
            line-height: 14px;
            font-weight: 700;
            color: $grey5;
        }

        .account {
            font-size: $small-text;
            line-height: 20px;
            font-weight: 400;
            color: $white;
        }

        &.details-xs {
            .name {
                font-size: 12px;
                line-height: 15px;
            }

            .code {
                font-size: 11px;
                line-height: 11px;
            }

            .account {
                font-size: 11px;
                line-height: 14px;
            }

            .icon-premium {
                background: $premium-gradient;
                min-width: 14px;
                min-height: 14px;
            }
        }
    }
}
