@import "src/styles/colors";

.toast-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 999999
}

.toast {
    width: 361px;
    border-radius: 16px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
    border: 1px solid $white;
    color: $white;

    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin-bottom: 15px;

    max-height: 100px;
    opacity: 1;

    &.success {
        color: $primary-color;

        .toast-content {
            color: $white;
        }

        border: 1px solid $primary-color;
    }

    &.error {
        color: $red;
        border: 1px solid $red;


        .mask-icon {
            &.icon-error {
                background-color: $red;
            }
        }
    }


    .toast-title {
        text-transform: uppercase;
        font-weight: bold;
    }
}


.mask-icon {
    &.icon-error,
    &.icon-cross {
        background-color: $grey6;
    }
}

.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;

}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.notification {
    transition: .3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
}


@keyframes toast-in-right {
    from {
        transform: translateX(100%);

    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);

    }
    to {
        transform: translateX(0);
    }
}
