@import '../../styles/colors';
@import '../../styles/mixins';

.flag-selector {
    label {
        margin-top: 1rem;
    }

    .lang-list {
        display: flex;
        width: 100%;
        position: relative;
        gap: 3rem;
        height: 2rem;
        @include nc-scrollbar(4px);
        overflow-x: scroll;
        overflow-y: hidden;

        .flag {
            align-self: flex-end;
            opacity: 0.5;

            &:hover,
            &.flag-active {
                align-self: start;
                opacity: 1;
                filter: drop-shadow(0px 0.5rem 1rem $black-light);
            }

            img {
                width: 32px;
            }
        }
    }
}
