@import '../../styles/colors';
@import '../../styles/variables.scss';

.nc-asset-ng-dialog {
    text-align: center;

    .nc-asset-dialog-gap {
        gap: 36px;
    }

    .code-input {
        background: $grey4;
        border-radius: 10px;
        padding: 8px 48px;
        width: fit-content;
        font-size: $medium-text;
        color: $white !important;

        input {
            background: none;
            border: none !important;
            width: 48px;
            color: $white;
            outline: none;
            padding-bottom: 1px;
        }
    }

    .error-container {
        border: 1px solid $red;
        border-radius: 10px;
        font-size: $medium-text;
        padding: 16px;
        max-width: 500px;
    }
}
