// Components
@import '../components/DatePicker/DatePicker.scss';
@import '../components/Dialog/Dialog.scss';
@import '../components/SearchBar/SearchBar.scss';
@import '../components/Tabs/Tabs.scss';
@import '../components/ByeCard/ByeCard.scss';
@import '../components/TeamCard/TeamCard.scss';
@import '../components/TeamCard/TeamCardRounded.scss';
@import '../components/UserCard/UserCard.scss';
@import '../components/UserCard/UserCardRounded.scss';
@import '../components/ProfilePicture/ProfilePicture.scss';
@import '../components/UserTeamCard/UserTeamCard.scss';
@import '../components/HoverUserTeamCard/HoverUserTeamCard.scss';
@import '../components/Chat/Chat.scss';
@import '../components/Chat/Messages.scss';
@import '../components/NCSwitch/NCSwitch.scss';
@import '../components/NCStepper/NCStepper.scss';
@import '../components/NCChip/NCChip.scss';
@import '../components/NCMediaUpload/NCMediaUpload.scss';
@import '../components/NCMultiMediaUpload/NCMultiMediaUpload.scss';
@import '../components/NCPreviewSearch/NCPreviewSearch.scss';
@import '../components/NCPreviewSearchAsync/NCPreviewSearchAsync.scss';
@import '../components/NCCheckbox/NCCheckbox.scss';
@import '../components/GameList/GameList.scss';
@import '../components/DisplaySelector/DisplaySelector.scss';
@import '../components/NCToastContainer/NCToastContainer.scss';
@import '../components/NCSelector/NCSelector.scss';
@import '../components/NCScrollTopButton/NCScrollTopButton.scss';
@import '../components/NCLottieAnimation/NCLottieAnimation.scss';
@import '../components/ProfilePicture/ProfilePicture.scss';
@import '../components/NCFlagSelector/NCFlagSelector.scss';
@import '../components/NCAccordion/NCAccordion.scss';
@import '../components/NCParticipantList/NCParticipantList.scss';
@import '../components/TeamPicture/TeamPicture.scss';
@import '../components/NCPremiumCTA/NCPremiumCTA.scss';
@import '../components/NCLineUp/NCLineUp.scss';
@import '../components/NCReminderTools/NCReminderTools.scss';
@import '../components/NCTournamentCard/NCTournamentCard.scss';
@import '../components/NCTournamentCard/NCTournamentCardLoading/NCTournamentCardLoading.scss';
@import '../components/NCSlider/NCSlider.scss';
@import '../components/NCSlider/NCSliderBackground/NCSliderBackground.scss';
@import '../components/NCSlider/NCSliderSelector/NCSliderSelector.scss';
@import '../components/NCTournamentRounds/NCTournamentRounds.scss';
@import '../components/NCCardList/NCCardList.scss';
@import '../components/NCHoverCard/NCHoverCard.scss';
@import '../components/NCPartnerCard/NCPartnerCard.scss';
@import '../components/NCStream/NCStream.scss';
@import '../components/NCTrainingCard/NCTrainingCard.scss';
@import '../components/NCPromotionalBanner/NCPromotionalBanner.scss';
@import '../components/NCRoundsBracket/NCRoundsBracket.scss';
@import '../components/NCRoundsDoubleElimination/NCRoundsDoubleElimination.scss';
@import '../components/NCRoundsResult/NCRoundsResult.scss';
@import '../components/NCTournamentDiscord/NCTournamentDiscord.scss';
@import '../components/NCFeedCard/NCFeedCard.scss';
@import '../components/NCInput/NCInput.scss';
@import '../components/CornerShared/AuthForm/AuthForm';
@import '../components/NCMenu/NCMenu.scss';
@import '../components/NCCalendar/NCCalendar.scss';
@import '../components/NCPureAccordion/NCPureAccordion.scss';
@import '../components/NCMatchPaused/NCMatchPaused.scss';
@import '../components/PlatformList/PlatformList.scss';
@import '../components/NCTimePicker/NCTimePicker.scss';
@import '../components/FingerIndicator/FingerIndicator.scss';

// Atoms
@import '../atoms/Button/Button.scss';
@import '../atoms/Button/ButtonIcon.scss';
@import '../atoms/NCCard/NCCard.scss';
@import '../atoms/NCToast/NCToast.scss';
@import '../atoms/NCList/NCList.scss';
@import '../atoms/NCDialog/NCDialog.scss';
@import '../atoms/NCStepBubble/NCStepBubble.scss';
@import '../atoms/NCTitle/NCTitle.scss';
@import '../atoms/NCNotificationButton/NCNotificationButton.scss';
@import '../atoms/NCThumbnail/NCThumbnail.scss';
@import '../atoms/NCOverlappingTitle/NCOverlappingTitle.scss';
@import '../atoms/NCBackgroundImage/NCBackgroundImage.scss';
@import '../atoms/NCRoundBattle/NCRoundBattle.scss';
@import '../atoms/NCBattleMap/NCBattleMap.scss';
@import '../atoms/NCTypography/NCTypography.scss';
@import '../atoms/NCInviteLink/NCInviteLink.scss';
@import '../atoms/NCDiscordGuild/NCDiscordGuild.scss';
@import '../atoms/NCDropZone/NCDropZone.scss';
@import '../atoms/NCLanguageIcon/NCLanguageIcon.scss';
@import '../atoms/NCDropdown/NCDropdown.scss';
@import '../atoms/NCCountdown/NCCountdown.scss';
@import '../atoms/NCBubble/NCBubble.scss';

// Molecules
@import '../molecules/NCActions/NCActions.scss';
@import '../molecules/NCMediaLibrary/NCMediaLibrary.scss';
@import '../molecules/NCNextSteps/NCNextSteps.scss';
@import '../molecules/NCWeeklyScheduling/NCWeeklyScheduling.scss';
@import '../molecules/NCNextSteps/NCStep.scss';
@import '../molecules/NCNotificationButtons/NCNotificationButtons.scss';
@import '../molecules/NCTabs/NCTabs.scss';

//Templates
@import '../templates/NCDivWithBackgroundImage/NCDivWithBackgroundImage.scss';

// CSS
.nicecactus-input {
    label {
        color: $grey5;
        font-size: $medium-text;
        line-height: $medium-text;
        z-index: 1;
        padding-left: 0.5rem;

        &.Mui-focused,
        &.MuiFormLabel-filled {
            padding-left: 0;
            margin-bottom: 2px;
        }
    }

    .MuiSelect-selectMenu,
    select,
    input,
    textarea {
        background: $grey2 !important;
        color: $grey6;
        padding-left: 1rem;
        padding-right: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    select > option {
        background: $grey2 !important;
    }

    .nc-radio {
        .Mui-checked {
            color: $primary-color;
        }

        .MuiFormControlLabel-label {
            color: $white;
        }

        .Mui-disabled {
            color: $grey5;

            .MuiIconButton-label {
                color: $grey4;
                background-color: $grey5;
                border-radius: 100%;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.nc-loading {
    background: $grey2;
    border-radius: 8px;
    animation: 1.5s ease-in-out infinite Blink;
}

.nicecactus-page-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* utils */
.cursor-pointer {
    cursor: pointer;
}

.text-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clickable {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}
