$font: 'mollenregular', 'Montserrat', sans-serif;

/* SIZE */
$tiny-text: 11px;
$smallest-text: 13px;
$small-text: 14px;
$medium-text: 16px;
$tall-text: 18px;
$big-text: 22px;
$higher-text: 28px;
$bigger-text: 33px;
$large-text: 36px;
$xxl-text: 48px;
$huge-text: 50px;

/* SCREEN SIZE */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* S3 IMG */
$s3-url: 'https://public.nicecact.us';
