@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.nc-countdown {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: $medium-text;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $electric-lime;

    .formatted-text {
        padding-right: 3px;
    }
}
