@import '@cactus/srm-component/dist/src/styles/colors';
@import '@cactus/srm-component/dist/src/styles/variables';
@import '@cactus/srm-component/dist/src/styles/button-mixins';

.nc-progress-bar-demo-page {
    color: $grey5;
    font-size: $big-text;

    p {
        font-size: $medium-text;
        margin: 0;
    }

    .progress-text {
        align-self: center;
    }

    .progress-input {
        width: 100px !important;
    }
}
