@import '@cactus/srm-component/dist/src/styles/colors';
@import '@cactus/srm-component/dist/src/styles/variables';

.user-team-cards-demo-page {
    .component-title,
    .component-subtitle {
        color: $grey5;
    }

    .component-title {
        font-size: $bigger-text;
    }

    .component-subtitle {
        font-size: $big-text;
    }

    .component-container {
        gap: 16px;
    }
}
