@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/button-mixins';

.button {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    position: relative;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    border: solid 1px transparent;
    transition: 0.2s;

    .mask-icon {
        margin-right: 12px;
    }

    &.limited {
        min-width: 150px;
    }

    /* Size */
    &.big {
        @include size($big-text, 48px, 13px 25px);
    }

    &.medium {
        @include size($medium-text, 40px, 12px 25px);
    }

    &.small {
        @include size($small-text, 32px, 9px 25px);
    }

    /* Colors */
    &.classic {
        &.primary {
            background: $primary-color;
            @include text-color($black);

            &:hover {
                @include button-design(
                    $primary-color,
                    $white,
                    transparent,
                    $gradient: false
                );
            }

            &:active {
                @include button-design(
                    $primary-color,
                    $primary-color,
                    transparent,
                    $gradient: false
                );
            }

            &:disabled {
                @include button-disable($grey4, $border: false);
            }
        }

        &.secondary {
            @include button-design(
                $grey5,
                $primary-color,
                transparent,
                $gradient: false
            );

            &:hover {
                @include button-design(
                    $primary-color,
                    $white,
                    null,
                    $gradient: false
                );
            }

            &:active {
                @include button-design(
                    $primary-color,
                    $primary-color,
                    null,
                    $gradient: false
                );
            }

            &:disabled {
                @include button-disable(transparent, $border: true);
            }
        }

        &.text {
            @include button-design(null, $grey6, transparent, $gradient: false);
            text-decoration: underline;
            padding-left: 0;
            padding-right: 0;

            &:hover {
                @include button-design(null, $white, null, $gradient: false);
            }

            &:active {
                @include button-design(null, $grey6, null, $gradient: false);
            }

            &:disabled {
                @include button-disable(transparent, $border: false);
            }
        }
    }

    &.tournament {
        @include button-gradient-structure($tournament, $tournament-gradient);
    }

    &.training {
        @include button-gradient-structure($training, $training-gradient);
    }

    &.tracking {
        @include button-gradient-structure($tracking, $tracking-gradient);
    }

    &.premium {
        &.primary {
            background: $premium-horizontal-gradient;
            border: unset;
            @include text-color($black);

            &:hover {
                background: $premium-hover-horizontal-gradient;
                @include text-color($black);
            }

            &:active {
                background: $yellow-school;
                @include text-color($black);
            }

            &:disabled {
                @include button-disable($grey4, $border: false);
            }
        }

        &.secondary {
            @include button-design(
                $premium-secondary-color,
                $premium-horizontal-gradient,
                transparent,
                $gradient: true
            );

            &:hover {
                @include button-design(
                    $premium-secondary-color,
                    $premium-hover-horizontal-gradient,
                    transparent,
                    $gradient: true
                );
            }

            &:active {
                @include button-design(
                    $yellow-school,
                    $yellow-school,
                    transparent,
                    $gradient: false
                );
            }

            &:disabled {
                @include button-disable($grey4, $border: true);
            }
        }
    }

    &.red {
        &.primary {
            background: $red;
            @include text-color($black);

            &:hover {
                @include button-design(
                    $red,
                    $white,
                    transparent,
                    $gradient: false
                );
            }

            &:active {
                @include button-design(
                    $red,
                    $red,
                    transparent,
                    $gradient: false
                );
            }

            &:disabled {
                @include button-disable($grey4, $border: false);
            }
        }

        &.secondary {
            @include button-design($red, $red, transparent, $gradient: false);

            &:hover {
                @include button-design($red, $white, null, $gradient: false);
            }

            &:active {
                @include button-design($red, $red, null, $gradient: false);
            }

            &:disabled {
                @include button-disable(transparent, $border: true);
            }
        }
    }

    &.custom-hover:hover {
        border-color: inherit !important;

        &:not(:active) {
            span {
                color: $white !important;
                -webkit-text-fill-color: unset !important;
            }
        }
    }
}

.button.premiums {
    background: $premium-gradient;
    color: $black;
    border-radius: 4px;

    .mask-icon {
        background-color: $black;
    }

    &:hover {
        background: $premium-hover-gradient;
    }

    &:disabled {
        background: $grey1;
        color: $grey2;
        border: none;

        .mask-icon {
            background-color: $grey2;
        }
    }
}

@mixin span-gradient($gradient) {
    span {
        &.secondary {
            @include text-color-gradient($gradient);

            &.disabled {
                @include button-disable(transparent, $border: false);
            }
        }
    }

    &:hover {
        span {
            background: none;
            -webkit-text-fill-color: inherit;
        }
    }
}

.button {
    &.tournament {
        @include span-gradient($tournament-gradient);
    }

    &.training {
        @include span-gradient($training-gradient);
    }

    &.tracking {
        @include span-gradient($tracking-gradient);
    }
}
