@import '../../styles/variables';
@import '../../styles/colors';

.nc-team-card {
    width: 209px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(360deg, $grey3 0%, #474e49 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);

    &.full {
        width: 312px;
        height: 144px;
        border-radius: 16px;

        &.nc-team-card-xs {
            width: 264px;
            height: 96px;
        }
    }

    .background-image,
    .background-texture {
        left: 0;
        right: 0;
        background-position: center;
        background-size: contain;
    }

    .background-image {
        filter: blur(16px);
        mix-blend-mode: overlay;
        box-shadow: inset 0px -16px 0px #ffffff;
    }

    .background-texture {
        mix-blend-mode: overlay;
        opacity: 0.2;
    }

    &.card-selected-close {
        filter: none;
        border: 1px solid $red;
        box-shadow: none;

        .details {
            color: $black;
        }

        .background-image {
            filter: none;
            mix-blend-mode: normal;
            background: $red !important;
            box-shadow: none;
        }

        &:hover {
            border: 1px solid $red;

            .details {
                color: $white;
            }

            .icon-crown,
            .icon-close {
                background: $white;
            }
        }

        .icon-crown,
        .icon-close {
            background: $black;
        }
    }

    &.card-selected-selected {
        border: 1px solid $white;
    }

    &:hover:not(.card-selected-close) {
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: inset 0px -24px 27px -19px rgba(255, 255, 255, 0.4);
        transition: box-shadow 2s;
    }

    .team-picture {
        border: 1px solid rgba(255, 255, 255, 0.2);
        z-index: 0;
    }

    .icon-close {
        background-color: $white;

        &.selected {
            background-color: $black;
        }
    }

    .icon-crown {
        background: $white;
        min-width: 12px;
    }

    .details {
        z-index: 1;
        overflow: hidden;
        color: $white;

        .tag {
            font-size: $small-text;
            line-height: 14px;
            font-weight: 700;
            color: inherit;
            margin-bottom: 1px;
        }

        .name {
            font-size: $small-text;
            line-height: 20px;
            color: inherit;
        }

        &.full {
            .tag {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
            }

            .name {
                font-size: $medium-text;
                line-height: 24px;
            }

            .captain {
                font-size: $smallest-text;
                line-height: 15px;

                .icon-crown {
                    margin-bottom: 4px;
                }

                .name {
                    color: inherit;
                }

                .code {
                    color: $light-grey;
                }
            }
        }
    }
}
