@import '../../styles/variables';
@import '../../styles/colors';

.nc-team-card {
    width: 209px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
    border-radius: 8px;
    overflow: hidden;

    &.full {
        width: 312px;
        height: 144px;
        border-radius: 16px;

        &.nc-team-card-xs {
            width: 264px;
            height: 96px;
        }
    }

    &.card-selected {
        filter: none;
        border: 1px solid $red;
        .background-image {
            filter: none;
            background-color: $red;
            img {
                display: none;
            }
        }

        .background-gradient {
            display: none;
        }

        &:hover {
            border: 1px solid $red;

            .background-gradient {
                display: block;
                background: linear-gradient(
                    360deg,
                    #646a6f 0%,
                    rgba(104, 106, 108, 0.4) 100%
                );
            }
        }
    }

    .background-image {
        filter: blur(4px);
        img {
            object-fit: cover;
        }
    }

    .background-gradient {
        background: linear-gradient(
            360deg,
            #292d30 0%,
            rgba(26, 26, 26, 0.4) 100%
        );
    }

    .background-gradient,
    .background-image {
        top: 0;
        left: 0;
    }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);

        .background-gradient {
            background: linear-gradient(
                360deg,
                #646a6f 0%,
                rgba(104, 106, 108, 0.4) 100%
            );
        }
    }

    .logo {
        min-height: 48px;
        min-width: 48px;
        max-height: 48px;
        max-width: 48px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.5));
        border-radius: 8px;

        &.full {
            min-height: 80px;
            min-width: 80px;
            max-height: 80px;
            max-width: 80px;
        }

        &.team-card-xs {
            min-height: 40px;
            min-width: 40px;
            max-height: 40px;
            max-width: 40px;
        }
    }

    .icon-close {
        background-color: $white;

        &.selected {
            background-color: $black;
        }
    }

    .details {
        z-index: 1;
        overflow: hidden;

        .tag {
            font-size: $small-text;
            line-height: 14px;
            font-weight: 700;
            color: $white;
            margin-bottom: 1px;
        }

        .name {
            font-size: $small-text;
            line-height: 20px;
            color: $white;
        }

        &.full {
            .tag {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
            }

            .name {
                font-size: $medium-text;
                line-height: 24px;
            }

            .captain {
                font-size: $smallest-text;
                line-height: 15px;

                .crown {
                    width: 12px;
                    height: 12px;
                    margin-bottom: 4px;
                }

                .name {
                    color: $white;
                }

                .code {
                    color: $light-grey;
                }
            }
        }
    }
}
