@import '~@cactus/srm-component/dist/src/styles/colors';

.corner-footer-demo-page {
    color: $white;
    width: 1000px;
    a {
        color: $white;
    }

    .nc-corner-footer {
        background-color: $persimmon;

        .mask-icon {
            background-color: #008b92;
            width: 36px;
            height: 36px;
        }

        .social-section {
            padding: 50px;
        }

        .links-section {
            a {
                color: $white;
            }
        }
    }
}
