@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.nc-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 11vw;

    @media screen and (max-width: $sm) {
        max-width: initial;
        flex-direction: row;
        margin: 8px;
    }

    .nc-step-description {
        font-size: $medium-text;
        line-height: 150%;
        display: flex;
        align-self: center;
        text-align: center;
        color: $white;
        margin: 32px 0 0 0;
        max-width: 200px;

        @media screen and (max-width: $sm) {
            font-size: $small-text;
            letter-spacing: 0.015em;
            line-height: 140%;
            text-align: left;
            align-items: center;
            margin: 0;
            max-width: initial;
        }
    }
}
