@import "src/styles/colors";

.searchbar-container {
    .searchbar-input {
        background: $grey2;

        input {
            color: $grey6;
            padding-left: 8px !important;

            &::-webkit-input-placeholder {
                opacity: 1 !important;
            }
        }
    }

    .search-button {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background: $grey6;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;

        &:hover {
            background: $primary-color;
        }
    }
}