@import '@cactus/srm-component/dist/src/styles/colors';
@import '@cactus/srm-component/dist/src/styles/variables';

.tournament-demo-page {
    color: $grey5;
    font-size: $big-text;
    gap: 40px;

    .component-title {
        font-size: $bigger-text;
    }
}
