@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.nc-medialibrary {
    @include media-breakpoint-up(lg) {
        width: 69vw;
    }

    .icon-back {
        background-color: $primary-color !important;
        margin: 2px;
    }

    .icon-fileUpload,
    .icon-addFolder {
        background-color: $primary-color !important;
    }

    .icon-trashcan {
        background-color: $red !important;
    }

    .button.classic.text:disabled .icon-trashcan {
        background-color: $light-grey !important;
    }

    .media-scrollbar {
        @include nc-scrollbar(4px);
        max-height: 58vh;
        overflow-y: scroll;
    }

    .preview-container {
        gap: 1rem;
    }

    .dialog-body {
        width: auto !important;
    }
}
