@import '@cactus/srm-component/dist/src/styles/colors';
@import '@cactus/srm-component/dist/src/styles/variables';

.challenge-demo-page {
    color: $grey5;
    font-size: $big-text;
    gap: 20px;
}
