@import '@cactus/srm-component/dist/src/styles/colors.scss';
@import '@cactus/srm-component/dist/src/styles/variables.scss';

.bubbles-demo-page {
    color: $grey5;
    font-size: $big-text;

    .bubbles-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        gap: 16px;
        padding-bottom: 25px;

        &.bubble-normal-font {
            .nc-step-number {
                font-weight: normal;
            }
        }
    }
}
