@import 'src/styles/colors';

.platform-style {
    height: 30px;
    .main-button {
        font-size: 14px;
        background-color: $grey4;
        color: $white;
        border-color: $light-grey;
        border-radius: 1px;
        height: 44px;
        width: 134px;
        border-style: solid;
        cursor: pointer;

        .icons-background {
            background: $grey6;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .platform-dropdown {
        background-color: $black;
        width: 134px;
        overflow-y: scroll;
        max-height: 177px;
        z-index: 2;
        a {
            color: $grey6;
        }
    }

    .color-border {
        border-color: $electric-lime;
    }

    .select-div {
        height: 32px;
        cursor: pointer;

        &:hover {
            background: $grey3;
        }

        &:active {
            color: $primary-color;
        }

        &.selected {
            background: $grey4;
        }
    }
}
