@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins';

.nc-rounds-battle-container {
    min-width: 170px;
    overflow-x: auto;

    .nc-stage-header {
        font-size: $medium-text;
        line-height: 150%;
        color: $grey5;
        margin: 0;
    }

    .nc-rounds-battle {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
}

.nc-rounds-battle-container:first-of-type {
    margin-top: 16px;
}

.nc-rounds-no-battle-container {
    @extend .nc-rounds-battle-container;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;

    p {
        flex: 1;
    }

    .nc-rounds-no-battle-stage-header {
        @extend .nc-stage-header;
        text-align: right;
    }

    .nc-rounds-no-battle-best-of {
        font-size: $medium-text;
        line-height: 150%;
        color: $electric-lime;
    }
}

.nc-rounds-no-battle-container:first-of-type {
    margin-top: 0px;
}
