@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins';

.nc-background-image-container {
    display: flex;
    position: absolute;
    width: 53%;
    height: 100%;

    @media screen and (max-width: $sm) {
        width: initial;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 24px;
        user-select: none;
        pointer-events: none;
    }

    .mask {
        width: 262px;
        height: 100%;
        top: 0;
        right: -2px;
        position: absolute;
        background: linear-gradient(
            90deg,
            rgba(50, 54, 57, 0) -0.84%,
            #323639 100%
        );

        @media screen and (max-width: $sm) {
            width: 100%;
            right: initial;
            background: linear-gradient(
                180deg,
                rgba(50, 54, 57, 0) 0%,
                #323639 100%
            );
        }
    }
}
