@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins';

.nc-rounds-result {
    width: 50%;

    @media screen and (max-width: $sm) {
        width: 100%;
    }

    .nc-rounds-result-header {
        font-weight: bold;
        font-size: $small-text;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $grey6;
        padding-bottom: 24px;
        margin: 0;
    }

    .rounds-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
