@import '@cactus/srm-component/dist/src/styles/colors';

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/Eko-Bimantara-Mollen-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/eko_bimantara_-_mollen-regular-webfont.woff2')
            format('woff2'),
        url('./styles/font/eko_bimantara_-_mollen-regular-webfont.woff')
            format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/eko_bimantara_-_mollen-bold-webfont.woff2')
            format('woff2'),
        url('./styles/font/eko_bimantara_-_mollen-bold-webfont.woff')
            format('woff');
    font-weight: 700;
    font-style: normal;
}

.navigation {
    border-right: solid 1px $grey1;
}
