@import '@cactus/srm-component/dist/src/styles/colors';

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/Eko-Bimantara-Mollen-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/eko_bimantara_-_mollen-regular-webfont.woff2')
            format('woff2'),
        url('./styles/font/eko_bimantara_-_mollen-regular-webfont.woff')
            format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mollenregular';
    src: url('./styles/font/eko_bimantara_-_mollen-bold-webfont.woff2')
            format('woff2'),
        url('./styles/font/eko_bimantara_-_mollen-bold-webfont.woff')
            format('woff');
    font-weight: 700;
    font-style: normal;
}

.shared-examples {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;

    .examples-wrapper {
        margin-left: auto;
        margin-right: auto;

        margin-top: 16px;
        margin-bottom: -3rem;
        padding-top: 24px;
        padding-left: 64px;
        padding-right: 64px;

        & > div {
            width: 100%;
            justify-content: center;
        }

        & > .content-wrapper {
            margin-bottom: 50px;
        }
    }

    code {
        color: unset;
    }

    .scroll-button {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}
