@import '../../styles/variables';
@import '../../styles/mixins';

.nc-weekly-scheduling-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    gap: 16px;
}
